html {
  height: 100%;
  width: 100%;
}
#debug {
  position: absolute;
  z-index: 999999;
  overflow-x: scroll;
}

/* div {
  
} */

.essay {
  width: 76%; 
  height: 6%; 
  transition-duration: 500ms;
  
}
.essay:hover {
  height: 10%; 
}

.main {
  transition-duration: 500ms;
  top: 0%;
  position: fixed;
  width: 98%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  text-align: center;
}

body {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 101%;
}

  
:root {
  --size0: 6.5vmin;
  --size1: 5.8vmin;
  --size2: 4.0vmin;
  --size3: 3.2vmin;
  --color-back: #ffffff;
  --color-grey: #b5b5b5;
  --color-theme: #9cd0d6;
  --weight1: 300;
  --weight2: 500;
  --weight3: 540;
  --scale-size: 1.03;
  --font: 'Raleway', sans;
}

p {
  font-family: var(--font);
  font-size: 3vmin;
  margin: 0.1vh;
  padding: 0vw;
}

h1 {
  font-family: var(--font);
  font-size: 5.5vmin;
  margin: 0.1vh;
  padding: 0vw;
}

h2 {
  font-family: var(--font);
  font-size: 4.2vmin;
  margin: 0.1vh;
  padding: 0vw;
}

h3 {
  font-family: var(--font);
  font-size: 3.5vmin;
  margin: 0.1vh;
  padding: 0vw;
}

.img {
  opacity: 1;
  border-radius: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  /* transition-duration: all 1s; */
  margin-top: 2vh;
  margin-bottom: 2vh;
  
  height: auto;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.img:hover {
  -webkit-transform: scale(var(--scale-size), var(--scale-size));
  transform: scale(var(--scale-size), var(--scale-size));
  /*   border-radius: 0.5vw; */
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 30px 0 rgba(0, 0, 0, 0.35);
}

.video {
    width: 10%; /* Or a specific max-width */
    aspect-ratio: 16 / 9; /* For a standard 16:9 YouTube video */
}

.text0 {
  margin-top: 0.001vw;
  margin-bottom: 0.001vw;
  display: block;
  color: rgba(50, 50, 60, 0.95);
  width: 82%;

  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--font);
  font-size: var(--size0);
  font-weight: var(--weight2);
  text-shadow: 0.3vw 0.3vw 0.6vw var(--color-grey);
  position: relative;
  /* display: inline-block; */
  /* -webkit-transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89); backface-visibility: hidden; */
  transition: scale 0.3s cubic-bezier(0.0, 0.75, 0.36, 1.0);
  /* background-color: red; */
}

.text0:hover {
  /* background-color: rgba(50, 50, 50, 0.003); */
  color: rgba(70, 70, 70, 1);
  /* font-weight: var(--weight3); */
  text-shadow: 0.4vw 0.4vw 0.8vw var(--color-grey);
  /* transition-duration: 0.5s; */
  /* -webkit-transform: scale(var(--scale-size), var(--scale-size)); */
  transform: scale(var(--scale-size), var(--scale-size));
}

.text1 {

  margin-top: 0.001vw;
  margin-bottom: 0.001vw;
  display: block;
  color: rgba(50, 50, 50, 0.8);
  /* width: 82%; */

  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--font);
  font-size: var(--size1);
  font-weight: var(--weight1);
  text-shadow: 0.3vw 0.3vw 0.6vw var(--color-grey);
  /* -webkit-transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89); backface-visibility: hidden; */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  /* background-color: red; */
}

.text1:hover {
  /* background-color: rgba(50, 50, 50, 0.01); */
  color: rgba(50, 50, 60, 1);
  /* font-weight: var(--weight2); */
  text-shadow: 0.4vw 0.4vw 0.8vw var(--color-grey);
  /* transition-duration: 0.5s; */
  /* -webkit-transform: scale(var(--scale-size), var(--scale-size)); */
  transform: scale(var(--scale-size), var(--scale-size));
}

.text2 {
  margin-top: 0.001vw;
  margin-bottom: 0.001vw;
  display: block;
  color: rgba(50, 50, 50, 0.6);
  width: 82%;

  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--font);
  font-size: var(--size2);
  /* font-weight: var(--weight1); */
  text-shadow: 0.3vw 0.3vw 0.6vw var(--color-grey);
  /* -webkit-transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89); backface-visibility: hidden; */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  /*    */
}

.text2:hover {
  /* background-color: rgba(50, 50, 50, 0.005); */
  color: rgba(50, 50, 60, 0.9);
  /* font-weight: var(--weight2); */
  text-shadow: 0.4vw 0.4vw 0.8vw var(--color-grey);
  /* transition-duration: 0.5s; */
  /* -webkit-transform: scale(var(--scale-size), var(--scale-size)); */
  transform: scale(var(--scale-size), var(--scale-size));
}
.text3 {
  font-style: italic;
  margin-top: 0.001vw;
  margin-bottom: 0.001vw;
  display: block;
  color: rgba(50, 50, 50, 0.6);
  width: 87%;

  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-family: var(--font);
  font-size: var(--size3);
  font-weight: var(--weight1);
  text-shadow: 0.3vw 0.3vw 0.6vw var(--color-grey);
  /* -webkit-transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89); backface-visibility: hidden; */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  /*    */
}

.text3:hover {
  /* background-color: rgba(50, 50, 50, 0.005); */
  color: rgba(50, 50, 60, 0.9);
  /* font-weight: var(--weight2); */
  text-shadow: 0.4vw 0.4vw 0.8vw var(--color-grey);
  /* transition-duration: 0.5s; */
  /* -webkit-transform: scale(var(--scale-size), var(--scale-size)); */
  transform: scale(var(--scale-size), var(--scale-size));
}
.right {
  /* transition: opacity 1s; */
  float: right;
  display: block;
  margin-left: 16%;
  margin-right: 1%;
  text-align: right;
  /*   margin: auto;  */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.center {
  /* transition: opacity 1s; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: auto;
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;

}

.left {
  /*   opacity: 0; */
  /* transition: opacity 1s; */
  float: left;
  display: block;
  margin-left: 1%;
  margin-right: 16%;
  text-align: justify;
  /*   margin: auto;  */
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}



::-webkit-scrollbar {
  width: 0vw;
  height: 0px;
  padding:0em;
margin-left: 15%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5em var(--color-grey);
  border-radius: 10em;
  padding-left: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-theme);
  border-radius: 15px;
}
button:focus {
    border: none;
    outline: none;
}
.goByeBye {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;

}
#br {
  color: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  border-style: none;
  padding: 0vw;
  margin: 0.001vw;
  width: 94%;
}

.link:hover {
/* background-color: rgba(50, 50, 50, 0.003); */
color: rgba(70, 70, 255, 1);
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  width: 10rem;
}
div.scroll-container ::-webkit-scrollbar {
  width: 1vw;
  height: 1vw;
}

.slider {
    border-radius: 1%;
  
  border: solid 0.6em transparent;
}

.sliderH {
  direction:rtl;
  height: 60%;
  width: 95%;
  margin: auto;
  margin-top: 3%;
  padding: 1em;
  
  /* border-style: dotted; */
  background-color: #333;
  /* overflow: auto; */
  
  /* horosontal greater */
  
  /* overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  /* verticle greater */
  
  overflow-x:hidden;
  overflow-y: scroll;
  position: relative;
}
.sliderH img{
  width:100%;
  height: auto;
  position: relative;
}
.sliderH button{
  width:100%;
  height: auto;
  position: absolute;
}
.sliderV {


  
  height: 75%;
  width: 95%;
  margin: auto;
  margin-top: 3%;

  /* border-style: dotted; */
  background-color: #333;
  /* overflow: auto; */

  /* horosontal greater */

  /* overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  /* verticle greater */

  overflow-x:hidden;
  overflow-y: scroll;
}
.sliderV img{
  height:100%;
  width: auto;
}

.slider a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  height: 3vw;
  text-decoration: none;
}

/* .slider a:hover {
  background-color: #777;
}
.slider.scroll-container {
  background-color: #333;
  overflow: auto;
  overflow-x:scroll;
  white-space: nowrap;
  padding: 7px;
  left: 100px;

} */
::-webkit-scrollbar:horizontal{
  display: block;
  width: 9em;
  overflow: auto;
  height: 2em;
  padding: 1em;
  margin: 1em auto;
  outline: 2px cornflowerblue;
  margin-left: 10%;
}
::-webkit-scrollbar{
  display: block;
  width: 2em;
  overflow: auto;
  height: 8em;
  padding: 0.8em;
  margin: 3em;
  left: 100px;

  outline: 2px cornflowerblue;
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 14px 14px rgb(60, 160, 185, 0.3);
  border: solid 4px transparent;
  border-radius: 14px;
}
.video {
  width: 256rem; 
  height: 144rem; 
}
#uppress {
  position: fixed;
  border: none;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(60, 160, 185, 0.5);
  border-radius: 0.5em;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  z-index: 999;
}
#uppress:hover {
  padding: 0.4em;
  font-size: 2em;
  margin: 0.5em;
}
#downpress {
  position: fixed;
  border: none;
  bottom: 0;
  right: 0;
  margin: 1em;
  margin-bottom: 2.5em;
  padding: 0.5em;
  background-color: rgb(60, 160, 185, 0.5);
  border-radius: 0.5em;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.2, 0.75, 0.36, 0.89);
  backface-visibility: hidden;
  z-index: 999;
}
#downpress:hover {
  padding: 0.4em;
  font-size: 2em;
  margin: 0.5em;
  margin-bottom: 2em;
}

/* iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 50%;
} */

